body {
  margin: 0px;
}

.maplibregl-popup {
  max-width: 100%;
}

.maplibregl-popup-content {
  background: none;
  box-shadow: none;
  border-radius: 0px;
  padding: 0px;
  top: -24px;
  
  .maplibregl-popup-close-button {
    display: none;
  }
}

.maplibregl-popup-tip {
  display: none;
}